<div class="mx-1">
    <div class="mb-4 ">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active"  data-bs-interval="2000">
            <img src="./assets/she-hulk.jfif" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="./assets/house-of-the-dragon.jfif" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="./assets/rings-of-power.avif" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="my-4">
        <h6>New Releases</h6>
        <div class="d-flex flex-row">
            <div class="items mx-2"><img src="./assets/poster-house-of-the-dragon.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-house-of-the-dragon.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-house-of-the-dragon.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-house-of-the-dragon.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-house-of-the-dragon.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-house-of-the-dragon.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-house-of-the-dragon.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-house-of-the-dragon.jfif" alt="..."></div>
        </div>
    </div>
    <div class="my-4">
        <h6>My List</h6>
        <div class="d-flex flex-row">
            <div class="items mx-2"><img src="./assets/poster-rings-of-power.jpeg" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-rings-of-power.jpeg" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-rings-of-power.jpeg" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-rings-of-power.jpeg" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-rings-of-power.jpeg" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-rings-of-power.jpeg" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-rings-of-power.jpeg" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-rings-of-power.jpeg" alt="..."></div>
        </div>
    </div>
    <div class="my-4">
        <h6>TV Shows</h6>
        <div class="d-flex flex-row">
            <div class="items mx-2"><img src="./assets/poster-she-hulk.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-she-hulk.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-she-hulk.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-she-hulk.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-she-hulk.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-she-hulk.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-she-hulk.jfif" alt="..."></div>
            <div class="items mx-2"><img src="./assets/poster-she-hulk.jfif" alt="..."></div>            
        </div>
    </div>
</div>


