.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // background-color: lightblue;
  .nav-item {
    .nav-link {
      cursor: pointer;
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      &:hover {
        font-style: italic;
        color: yellow;
      }
      &.active {
        font-style: italic;
        color: yellow;
      }
    }
  }
  &.nav-background {
    background-color: #000;
    opacity:0.7
  }

}