.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
ul.navbar li a {
    display: block;
    color: #000000;
    font-weight:bold;
    padding: 8px 16px;
    text-decoration: none;
}

ul.navbar li a{
    &.active{
        background-color: lavender;
    }
    &:hover {
        background-color: lavender;
    // color: white;
    }
}