<ul class="nav justify-content-end navbar nav-background">
  <ng-container *ngIf="isLoggedIn; else notLoggedIn">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['web-series']" routerLinkActive="active">
        Web Series
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout();">
        Logout
      </a>
    </li>
  </ng-container>
  <ng-template #notLoggedIn>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">
        Login
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['register']" routerLinkActive="active">
        Register
      </a>
    </li>
  </ng-template>
</ul>