/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
$backgroundColor: #000000;
$textColor: #ffffff;
body {
    font-size: 16px;
    font-family: cursive;
    background-color: $backgroundColor;
    color: $textColor;
}
.nav-background {
    background-color: $backgroundColor;
}
