<div class="row">
  <div class="col-6 offset-3">
    <div class="p-3 border">
      <h1>Register</h1>
      <form [formGroup]="signupForm" (ngSubmit)="onSignupFormSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            class="form-control"
            type="text"
            placeholder="Email enter here"
            formControlName="email"
          />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            id="username"
            class="form-control"
            type="text"
            placeholder="Username enter here"
            formControlName="username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            id="password"
            class="form-control"
            type="password"
            placeholder="Password enter here"
            formControlName="password"
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
